# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool: Default

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"
    displayName: "Use Node.js"

  - task: octane-test-runner-start-task-private@1
    inputs:
      OctaneServiceConnection: "octaneConnectionForDiscovery"
      WorkspaceList: "1002"
      Framework: "uft"
      GitRepositoryURL: "https://github.com/vivienknecht/UftTestsWithDataTables"

  - checkout: self
    fetchDepth: 0

  - task: DownloadPipelineArtifact@2
    displayName: "Download last successful commit SHA"
    inputs:
      buildType: "specific"
      project: "$(System.TeamProjectId)"
      definition: "$(System.DefinitionId)"
      buildVersionToDownload: "latestFromBranch"
      branchName: "$(Build.SourceBranch)"
      artifactName: "last-successful"
      downloadPath: "$(Pipeline.Workspace)\\last-successful"
    continueOnError: true

  - powershell: |
      ./eng/detect-changed-files.ps1
    displayName: Detect changed files since last successful run

  - task: octane-get-params-task-private@1
    inputs:
      OctaneServiceConnection: "octaneConnectionForDiscovery"

  - powershell: |
      node dist/cli/index.js --action="discoverTests" --isFullScan=false --path="$env:BUILD_SOURCESDIRECTORY" --octaneUrl="$(octaneUrl)" --sharedSpace="$(octaneSharedSpaceId)" --workspace="$env:WORKSPACE" --clientSecret="$(octaneClientSecret)" --clientId="$(octaneClientId)" --logLevel=1    env:
    env:
      MODIFIED_FILES_PATH: $(Pipeline.Workspace)/modified_files.bin
      REPOURL: $(Build.Repository.Uri)
    displayName: Discovery

  - powershell: |
      echo $(Build.SourceVersion) > last_successful_commit.txt
    displayName: "Store current commit SHA"

  - publish: last_successful_commit.txt
    artifact: last-successful
    displayName: "Publish last successful commit SHA"
