# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool: Default

steps:
  - task: octane-test-runner-start-task-private@1
    inputs:
      OctaneServiceConnection: 'octaneConnectionForDiscovery'
      WorkspaceList: '14005'
      Framework: 'uft'
      GitRepositoryURL: 'https://github.com/vivienknecht/UftTestsWithDataTables'

